* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-yellow: hsl(47, 88%, 63%);
}

body {
    height: 100dvh;
    font-family: Figtree, "sans serif";
    font-size: 1rem;
    padding-inline: 16px;
    background-color: var(--clr-yellow);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100%;
    width: 100%;
}

.blog-container {
    background-color: white;
    border: 2px solid black;
    padding: 20px;
    border-radius: 25px;
    width: 375px;
    max-width: 375px;

    /* box-shadow: offset-x offset-y blur-radius spread-radius color; */

    box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 1); 
}

.blog-image {
    border-radius: 12px;
    width: 100%;
    margin-block-end: 11px;
}

.blog-title_text {
    display: inline-block;
    padding: 10px;
    background-color: var(--clr-yellow);
    margin-block-end: 11px;
    border-radius: 8px;
    font-weight: 800;
}

.blog-date_text {
    margin-block-end: 11px;
    font-weight: 500;
}

.blog-article_heading {
    margin-block-end: 4px;
    font-weight: 780;
}

.blog-article_heading > a {
    text-decoration: none;
    color: black;
}

.blog-article_heading > a:hover {
    color: hsl(47, 83%, 67%);
}

.blog-article_content {
    font-size: .8rem;
    margin-block-end: 11px;
    font-weight: 700;
    color: rgb(59, 59, 59);
}

.blog-author_container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.blog-author_image {
    width: 50px;
}

.blog-author_container > p {
    font-weight: 720;
}

@media screen and (max-width: 375px) {
    .blog-container {
        width: 330px;
        min-width: 330px; /* for small screens */
    }
}